<#@ template language="C#" #>
using System;
using Microsoft.Graph;
using System.Threading.Tasks;
using System.Collections.Generic;
using MsGraphSDKSnippetsCompiler;

public class GraphSDKTest
{
	private IAuthenticationProvider authProvider = null;

	private async void Main()
	{
	    authProvider = AuthenticationProvider.GetIAuthenticationProvider();

        #region msgraphsnippets
		//insert-code-here
        #endregion
	}
}