<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>4</MaxCpuCount>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="Version" value="---VersionPlaceholder---" />
    <Parameter name="DllPath" value="---DllPathPlaceholder---" />
    <Parameter name="KnownFailuresRequested" value="---KnownFailuresRequestedPlaceholder---" />
    <Parameter name="Language" value="---LanguagePlaceHolder---" />
    <Parameter name="JavaCoreVersion" value="---JavaCoreVersionPlaceHolder---" />
    <Parameter name="JavaLibVersion" value="---JavaLibVersionPlaceHolder---" />
    <Parameter name="JavaPreviewLibPath" value="---JavaPreviewLibPathPlaceHolder---" />
  </TestRunParameters>
</RunSettings>