# Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the MIT License.  See License in the project root for license information.

trigger: none # disable triggers based on commits.
name: 'V1 C# Snippet Compilation Tests'

resources:
 repositories:
   - repository: microsoft-graph-docs
     type: github
     endpoint: microsoftgraph
     name: microsoftgraph/microsoft-graph-docs
     ref: master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
- template: compile-run-tests-template.yml
  parameters:
    projectFileName: CsharpV1Tests
    runName: 'V1 C# Snippet Compilation Tests $(testRunTitle)'
